<h2>Hello <%=@user.name %><h2/>
 
<p>Welcome to AIESEC in Delhi University’s Intern Portal.<br/>
Your AIESEC journey has started.<br/> You’ll be working with Number 1 LC in AIESEC India.<br/> We promise you to provide a life time experience in Delhi with us.<br/>
Please <%= link_to "CLICK HERE", "profile" %> and update your basic information.
 <br/><br/>
Have you reached Delhi ? <%if @user.form1 %> <%=link_to "Yes,Edit Details",@user.form1%> <%else%> <%=link_to "Yes", new_form1_path%> <%end%>
</p>
